<div class = "info" ng-if="!promo">
	<h3>Schedule</h3>
	<p>Scheduling is not permitted until a valid promo code is entered. Please go back to the home page and enter a valid code.</p>
</div>

<div class = "info" ng-if="promo">
	<h3>Schedule</h3>
	<iframe src="https://www.google.com/calendar/embed?title=Schedule%20a%20Phone%20Appointment%20for%20your%20Free%20Evaluation!%20&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=525&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=paulritter%40creditinvestigationservice.com&amp;color=%232952A3&amp;ctz=America%2FNew_York"
			style=" border-width:0" width=100% height="325" frameborder="0" scrolling="no"></iframe>
	<iframe height="780" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="http://mycreditteam.com/machform/embed.php?id=9" title="Schedule an Appointment"></iframe>
</div>