<div class = "bar">
	<a href ng-click="navigate.setPage('home')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('home')}">
		Home
	</div>
	</a>
	<a href ng-click="navigate.setPage('latestnews')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('latestnews')}">
		Latest News
	</div>
	</a>
	<a href ng-click="navigate.setPage('faq')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('faq')}">
		FAQ
	</div>
	</a>
	<a href ng-click="navigate.setPage('multimedia')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('multimedia')}">
		Multimedia
	</div>
	</a>
	<a href ng-click="navigate.setPage('schedule')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('schedule')}">
		Schedule
	</div>
	</a>
	<a href ng-click="navigate.setPage('renttoown')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('renttoown')}">
		Rent to Own
	</div>
	</a>
	<a href ng-click="navigate.setPage('creditbuilding')">
	<div class = "tab" ng-class="{currentpage: navigate.isPage('creditbuilding')}">
		Credit Building
	</div>
	</a>
</div>